Question: With which RFCs is this NETCONF server compliant?

Is this server implementation compliant with: 
RFC 6241 – Network Configuration Protocol (NETCONF)
RFC 6242 – Using the NETCONF Protocol over Secure Shell (SSH)
RFC 6243 – With-defaults Capability for NETCONF
RFC 7589 – Using the NETCONF Protocol over Transport Layer Security (TLS)
RFC 5277 – NETCONF Event Notifications
RFC 8639 – Subscription to YANG Notifications for Datastore Updates
RFC 8640 – Dynamic Subscription to YANG Events and Datastore Updates
Or any other? 

@hussamsh Could you comment?

@msosyak I would refer you to this [HLD](https://github.com/aseaudi/SONiC/blob/netconf/doc/mgmt/Management%20Framework.md#21-target-deployment-use-cases) which outlines how the NETCONF server works. There is many more info you can read.

We mainly used [RFC 6241](https://datatracker.ietf.org/doc/html/rfc6241) as our main reference

Thanks